.App{
    overflow: hidden;
    /* min-width: 1920px; */
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

/*loader*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: rgba(27, 21, 21, 0.2);
}
.loader {
    color: white;
    top: 45%;
    left: 47%;
    z-index: 10000;
    position:absolute;
}
/*end loader*/
.header-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.modal-content {
    background: url("./images/Main_Menu/Play_Now/UI/overall_bg.png") no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: white !important;

}
.btn-modal-content {
    background: url("./images/Main_Menu/Play_Now/UI/but3.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-all-modal-content {
    background: url("./images/Main_Menu/Play_Now/UI/all_button.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-action-modal-content {
    background: url("./images/Main_Menu/Play_Now/UI/cashout_button-bg.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-redeem-game-lobby {
    background: url("./images/Main_Menu/Play_Now/UI/redeem_btn.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-addentries-game-lobby {
    background: url("./images/Main_Menu/Play_Now/UI/add_entries_btn.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-quit-game-lobby {
    background: url("./images/Main_Menu/Play_Now/UI/quit.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-entries-winning-game-lobby {
    background: url("./images/Main_Menu/Play_Now/UI/Entries&CashBG.png") no-repeat center;
    background-size: 80% 100%;
}
.bg-entries-winning-game-lobby {
    background: url("./images/Main_Menu/Play_Now/UI/select_how_much_bg.png") no-repeat center;
    background-size: 100% 100%;
}
.btn-lg {
    padding: 20px 80px;
    white-space: nowrap;
}
input::-webkit-input-placeholder {
    font-style: italic;
}

/* Firefox 19+ */
input::-moz-placeholder {
    font-style: italic;
}

/* IE 10+ */
:-ms-input-placeholder {
    font-style: italic;
}

/* Firefox 18- */
:-moz-placeholder {
    font-style: italic;
}
.btn-pink {
    background-color: #ff3399 !important;
    border-color: #ff3399;
    font-weight: bold;
    color: white;
}

.btn-orange {
    background-color: #ff3300 !important;
    border-color: #ff3300;
    font-weight: bold;
    color: white;
}

.btn-blue {
    background-color: #3399ff !important;
    border-color: #3399ff;
    font-weight: bold;
    color: white;
}

.image-input {
    width: auto;
    height: 100%;
    border-radius: 5px;
}
.image-button {
    max-height: 70px;
    width: auto;
}
.register-button-div {
    width: 50%;
    margin: auto;
}
footer {
    display: table-row;
    width: 100%;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    background-color: #330033;
    text-align: center;
}

.home-background{
    /* height: 80vh; */
    /* background-image: url('/src/images/Introduction_Scene/Intro_bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.main-background-image {
    width: 100%;
    height: calc(100vh - 44px);
    display: block;
    position: relative;
    overflow: hidden;
}

.main-background-image::after {
    content: "";
    /* background: url('/src/images/Introduction_Scene/Intro_bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
}

.main-container{
    width: 100%;
    height: calc(100vh - 44px);
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(0,-20,20,0.6)
}
.rule-container{
    width: 100%;
    height: calc(100vh - 44px);
    display: -webkit-box;
    display: -webkit-flex;
    background-color: rgba(0,-20,20,0.6)
}
.carousel {
    width:100%;
    height:80%;
    margin: auto;
  }  
.carousel-fade .carousel-item, .carousel-item img  {
    max-height: 80vh;
  }
.list-item {
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

.line-height-3rm {
    line-height: 3rem !important;
}

.height-5vh {
    height: 5vh !important;
}

.line-height-5vh {
    line-height: 5vh !important;
}

.height-10vh {
    height: 10vh !important;
}

.line-height-10vh {
    line-height: 10vh !important;
}

.height-15vh {
    height: 15vh !important;
}

.line-height-15vh {
    line-height: 15vh !important;
}

.height-20vh {
    height: 20vh !important;
}

.line-height-20vh{
    line-height: 20vh !important;
}



.height-30vh {
    height: 30vh !important;
}
.line-height-30vh {
    line-height: 30vh !important;
}

.height-40vh {
    height: 40vh !important;
}

.line-height-40vh {
    line-height: 40vh !important;
}

.line-height-50vh {
    line-height: 50vh !important;
}
.height-50vh {
    height: 50vh !important;
}

.line-height-60vh {
    line-height: 60vh !important;
}
.height-60vh {
    height: 60vh !important;
}
.iframe-game {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.pointer {
    cursor: pointer;
}
.bg-my-account {
    background: url('/src/images/Main_Menu/UI/my_account.jpg') no-repeat left;
    background-size: 98%;
}
.bg-my-coupon {
    background: url('/src/images/Main_Menu/UI/my_coupon.png') no-repeat center;
    background-size: 98%;
}
.bg-purchase-coupon {
    background: url('/src/images/Main_Menu/UI/purchase_coupon.png') no-repeat right;
    background-size: 98%;
}
.bg-bottom-profile {
    background: url('/src/images/Main_Menu/UI/bottom_bg.png') no-repeat center;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-play-btn {
    top: 73% !important;
    left: 45% !important;
}
.coupon-list {
    background-color: black;
    padding-left: 15px;
    height: 50vh;
    border-radius: 5px
}
.image-play {
    max-height: 50vh
}
.home-button-area {
    background-color: #330033;
    /* height: 16vh; */
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3.5); /* IE */
  -moz-transform: scale(3.5); /* FF */
  -webkit-transform: scale(3.5); /* Safari and Chrome */
  -o-transform: scale(3.5); /* Opera */
  transform: scale(3.5);
  /* width: 50%; */
  padding: 20px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 120%;
  display: inline;
}

@media(max-height: 800px){
    .App{
        height: 100%;        
    }
    .coupon-list {
        height: 540px;
    }
    .centered-play-btn {
        top: 56% !important;
        left: 50% !important;
    }
    .image-play {
        max-height: 540px
    }
    /* .main-container {
        height: 1036px;
    } */
    /* .home-button-area {
        height: 172px;
    } */
    /* .home-background {
        height: 896px;
    } */
    .main-background-image {
        height: 1036px;
    }
    .height-5vh {
        height: 540px !important;
    }
    
    .line-height-5vh {
        line-height: 21px !important;
    }
    
    .height-10vh {
        height: 108px !important;
    }
    
    .line-height-10vh {
        line-height: 108px !important;
    }
    
    .height-15vh {
        height: 129px !important;
    }
    
    .line-height-15vh {
        line-height: 129px !important;
    }
    
    .height-20vh {
        height: 216px !important;
    }
    
    .line-height-20vh{
        line-height: 216px !important;
    }
    
    .height-30vh {
        height: 324px !important;
    }
    .line-height-30vh {
        line-height: 324px !important;
    }
    
    .height-40vh {
        height: 432px !important;
    }
    
    .line-height-40vh {
        line-height: 432px !important;
    }
    
    .line-height-50vh {
        line-height: 540px !important;
    }
    .height-50vh {
        height: 540px !important;
    }
    
    .line-height-60vh {
        line-height: 648px !important;
    }
    .height-60vh {
        height: 648px !important;
    }
    .list-item {
        height: 432px;
    }
}
